.create-proposal {
  h3 {
    padding-left: 2rem;
    color: #232323E5;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &--forms {
    display: flex;
    width: 100%;
    padding-left: 2rem;
    margin-bottom: 2.5rem;

    img {
      width: 30%;
      height: 50vh;
      margin-right: 2rem;
      border: 2px solid rgba(250, 250, 250, 0.25);
      object-fit: cover;
      border-radius: 20px;
    }

    &--inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
    }
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
    width: calc(80% + 2rem);
    padding-left: 2rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1rem;
      outline: 0;
      border-radius: 100px;
      background-color: #1F50FF;
      cursor: pointer;

      padding: 1.1rem 1rem;
      color: white;
      font-weight: 300;
      letter-spacing: 0.05rem;
      font-size: 1.1rem;
      border: 3px solid #1F50FF;

      &:disabled {
        cursor: not-allowed;
        background-color: rgba(31, 80, 255, 0.59);
      }
    }

    .btn-back {
      width: 25%;
      background-color: transparent;
      color: #1F50FF;
      font-weight: bold;
    }

    .btn-create {
      width: 70%;
    }
  }
}
