<!--header-->

<div class="header">
  <div class="header--logo" routerLink="/home">
    <img [src]="imageBaseUrl + '/logo.svg'" alt="Logo">
    <h1>Freedapp</h1>
  </div>

  <button *ngIf="currentNavbar === navbarStates.HOME && !isWalletConnected" (click)="enterWithWallet()"><strong>+</strong> Entrar com a Wallet</button>
  <img *ngIf="currentNavbar !== navbarStates.HOME || isWalletConnected" [src]="imageBaseUrl + '/yellow-face.png'">
</div>

<!--navbar-->

<div class="container">
  <div class="navbar">
    <div class="navbar--top">
      <div routerLink="/home" class="navbar--item" [class.navbar--item-active]="currentNavbar === navbarStates.HOME">
        <img [src]="(currentNavbar === navbarStates.HOME) ? imageBaseUrl + '/home-icon-active.svg' : imageBaseUrl + '/home-icon.svg'" alt="Home">
        <span *ngIf="currentNavbar !== navbarStates.HOME">Início</span>
      </div>
      <div routerLink="/shoot" class="navbar--item" [class.navbar--item-active]="currentNavbar === navbarStates.SHOOT">
        <img [src]="(currentNavbar === navbarStates.SHOOT) ? imageBaseUrl + '/shoot-icon-active.svg' : imageBaseUrl + '/shoot-icon.svg'" alt="Lances">
        <span *ngIf="currentNavbar !== navbarStates.SHOOT">Lances</span>
      </div>
      <div routerLink="/proposal" class="navbar--item" [class.navbar--item-active]="currentNavbar === navbarStates.PROPOSAL">
        <img [src]="(currentNavbar === navbarStates.PROPOSAL) ? imageBaseUrl + '/proposal-icon-active.svg' : imageBaseUrl + '/proposal-icon.svg'" alt="Propostas">
        <span *ngIf="currentNavbar !== navbarStates.PROPOSAL">Propostas</span>
      </div>
      <div routerLink="/dispute" class="navbar--item" [class.navbar--item-active]="currentNavbar === navbarStates.DISPUTE">
        <img [src]="(currentNavbar === navbarStates.DISPUTE) ? imageBaseUrl + '/dispute-icon-active.svg' : imageBaseUrl + '/dispute-icon.svg'" alt="Disputas">
        <span *ngIf="currentNavbar !== navbarStates.DISPUTE">Disputas</span>
      </div>
    </div>
    <div class="navbar--bottom">
      <div routerLink="/help" class="navbar--item" [class.navbar--item-active]="currentNavbar === navbarStates.HELP">
        <img [src]="(currentNavbar === navbarStates.HELP) ? imageBaseUrl + '/help-icon.svg' : imageBaseUrl + '/help-icon.svg'" alt="Ajuda">
        <span *ngIf="currentNavbar !== navbarStates.HELP">Ajuda</span>
      </div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
