<div class="proposal-detail">
  <h3>Visualizar proposta</h3>

  <div class="proposal-detail--container">
    <div class="proposal-detail--container--left">
      <img [src]="proposal.description | boring : 'bauhaus'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/home-card-bg.png'; this.onerror=null" alt="Imagem">
      <div class="about card">
        <h4>Sobre</h4>
        <p>{{ proposal.description }}</p>
      </div>
    </div>
    <div class="proposal-detail--container--right">
      <div class="header">
        <img [src]="proposal.description | boring : 'beam'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/profile-icon.png'; this.onerror=null" alt="Pessoa">
        <div class="header--info">
          <h4>{{ proposal.title }}</h4>
          <span>Criador: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</span>
        </div>
      </div>

      <div *ngIf="state === 'choose'" class="price card">
        <h4>Selecionar o mediador</h4>

        <input class="free--input" type="text" placeholder="Digite o endereço do mediador">

        <br />
        <br />

        <button class="full" (click)="state = 'waiting'">Selecionar mediador</button>
      </div>

      <div *ngIf="state === 'waiting'" class="price card">
        <h4>Mediador Escolhido! Aguardando o outro lado...</h4>

        <p>Agora, é necessário que o outro lado escolha o mesmo mediador, abaixo, você pode clicar para entrar em contato com o Criador/Freelancer.</p>

        <br />

        <button class="full" (click)="state = 'choose'">Voltar</button>
      </div>

      <div class="price card">
        <h4>Freelancer / Criador</h4>

        <a href="mailto:vinyygamerlol@gmail.com">
          <button class="outline full">Entrar em contato</button>
        </a>
      </div>
    </div>
  </div>
</div>
