<div class="proposal-detail">
  <h3>Visualizar proposta</h3>

  <div class="proposal-detail--container">
    <ng-container *ngIf="proposal$ | async as proposal; else loadingTemplate">
      <div class="proposal-detail--container--left">
        <ng-bauhaus-avatar [name]="'proposals_' + proposal.id" [square]="true" [fillBackground]="true" inputSize="100%"></ng-bauhaus-avatar>

        <div class="about card">
          <h4>Sobre</h4>
          <p>{{ proposal.description }}</p>
        </div>
      </div>
      <div class="proposal-detail--container--right">
        <div class="header">
          <ng-beam-avatar [name]="'proposals_' + proposal.id" inputSize="100%"></ng-beam-avatar>

          <div class="header--info">
            <h4>{{ proposal.name }}</h4>
            <span>Criador: {{ proposal.creator }}</span><br>
            <span>Status: <strong [style.color]="(proposal.status | proposalStatus).bgColor">{{ (proposal.status | proposalStatus).text }}</strong></span>
          </div>
        </div>

        <div class="price card" *ngIf="canPerformBasicActions$ | async">
          <h4>Valor da proposta</h4>
          <div class="price--info">
            <img src="https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/price.png" alt="Preço">
            <b>{{ proposal.amount | formatEther }}</b>
          </div>

          <div class="price--buttons">
            <button class="free--btn"
                    (click)="createBid()"
                    *ngIf="isWaitingBid$ | async"
                    [disabled]="(cannotCreateBid$ | async) || isPerformingActionOnButtons">Dar um lance
            </button>

            <button class="free--btn"
                    (click)="cancelProposal()"
                    [disabled]="isPerformingActionOnButtons"
                    *ngIf="canCancelProposal$ | async">Cancelar proposta
            </button>

            <button class="free--btn free--btn__outline"
                    (click)="sendPayment()"
                    [disabled]="isPerformingActionOnButtons"
                    *ngIf="canSendPayment$ | async">Enviar pagamento
            </button>

            <button class="free--btn free--btn__outline"
                    (click)="enterInDispute()"
                    [disabled]="isPerformingActionOnButtons"
                    *ngIf="canEnterInDispute$ | async">Entrar em disputa
            </button>
          </div>

          <ng-container *ngIf="errorMessageOnButtons">
            <app-error-message [message]="errorMessageOnButtons"></app-error-message>
          </ng-container>
        </div>

        <div class="mediator card" *ngIf="canSelectMediator$ | async">
          <h4>Escolher mediador</h4>

          <form [formGroup]="formGroupForMediator" class="mediator--form">
            <input class="free--input" type="text" placeholder="Digite o endereço do mediador" formControlName="mediator">
          </form>

          <button class="free--btn"
                  (click)="selectMediator()"
                  [disabled]="formGroupForMediator.invalid || isPerformingActionOnButtons">Escolher mediador
          </button>

          <ng-container *ngIf="errorMessageOnButtons">
            <app-error-message [message]="errorMessageOnButtons"></app-error-message>
          </ng-container>
        </div>

        <div class="distribution card" *ngIf="canSelectDistribution$ | async">
          <h4>Escolher a distribuição</h4>

          <form [formGroup]="formGroupForDistribution" class="distribution--form">
            <input class="free--input" type="number" min="0" max="100" placeholder="Digite a porcentagem para o Freelancer (0-100)" formControlName="splitBidderShare">
          </form>

          <button class="free--btn"
                  (click)="selectDistribution()"
                  [disabled]="formGroupForDistribution.invalid || isPerformingActionOnButtons">Definir distribuição
          </button>

          <ng-container *ngIf="errorMessageOnButtons">
            <app-error-message [message]="errorMessageOnButtons"></app-error-message>
          </ng-container>
        </div>

        <div class="shoots card">
          <h4>Seus lances</h4>

          <div class="shoots--list">
            <ng-container *ngFor="let bid of myBids$ | async">
              <div class="shoots--list--item">
                <app-bid-item [bid]="bid" [selectedBid]="(selectedBid$ | async)?.id === bid.id" (onError)="errorMessageOnCancelBid = $event"></app-bid-item>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="errorMessageOnCancelBid">
            <app-error-message [message]="errorMessageOnCancelBid"></app-error-message>
          </ng-container>
        </div>

        <div class="shoots card">
          <h4>Lances atuais</h4>

          <div class="shoots--list">
            <ng-container *ngFor="let bid of bids$ | async ">
              <div class="shoots--list--item">
                <app-bid-item [bid]="bid" [selectedBid]="(selectedBid$ | async)?.id === bid.id" [disableButtons]="true"></app-bid-item>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="hasMoreBids$ | async">
            <button class="free--btn" [disabled]="isLoadingBids$ | async">Carregar mais</button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <p>Carregando...</p>
</ng-template>
