<div class="proposal-detail">
  <h3>Visualizar proposta</h3>

  <div class="proposal-detail--container">
    <ng-container *ngIf="proposal$ | async as proposal; else loadingTemplate">
      <div class="proposal-detail--container--left">
        <ng-bauhaus-avatar [name]="'proposals_' + proposal.id" [square]="true" [fillBackground]="true" inputSize="100%"></ng-bauhaus-avatar>

        <div class="about card">
          <h4>Sobre</h4>
          <p>{{ proposal.description }}</p>
        </div>
      </div>
      <div class="proposal-detail--container--right">
        <div class="header">
          <ng-beam-avatar [name]="'proposals_' + proposal.id" inputSize="100%"></ng-beam-avatar>

          <div class="header--info">
            <h4>{{ proposal.name }}</h4>
            <span>Criador: {{ proposal.creator }}</span><br>
            <span>Status: <strong [style.color]="(proposal.status | proposalStatus).color">{{ (proposal.status | proposalStatus).text }}</strong></span>
          </div>
        </div>

        <div class="price card">
          <h4>Valor da proposta</h4>
          <div class="price--info">
            <img src="https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/price.png" alt="Preço">
            <b>{{ proposal.amount | formatEther }}</b>
          </div>

          <div class="price--buttons">
            <button class="free--btn" (click)="createBid()"
                    *ngIf="isWaitingBid$ | async"
                    [disabled]="cannotCreateBid$ | async">Dar um lance
            </button>

            <button class="free--btn" (click)="cancelProposal()"
                    *ngIf="canCancelProposal$ | async">Cancelar proposta
            </button>
          </div>

          <ng-container *ngIf="errorMessageOnButtons">
            <app-error-message [message]="errorMessageOnButtons"></app-error-message>
          </ng-container>
        </div>

        <div class="shoots card">
          <h4>Seus lances</h4>

          <div class="shoots--list">
            <ng-container *ngFor="let bid of myBids$ | async">
              <div class="shoots--list--item">
                <app-bid-item [bid]="bid" [proposalId]="proposalId" (onErrorOnCancel)="errorMessageOnCancelBid = $event"></app-bid-item>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="errorMessageOnCancelBid">
            <app-error-message [message]="errorMessageOnCancelBid"></app-error-message>
          </ng-container>
        </div>

        <div class="shoots card">
          <h4>Lances atuais</h4>

          <div class="shoots--list">
            <ng-container *ngFor="let bid of bids$ | async ">
              <div class="shoots--list--item">
                <app-bid-item [bid]="bid" [proposalId]="proposalId" [disableCancel]="true"></app-bid-item>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="hasMoreBids$ | async">
            <button class="free--btn" [disabled]="isLoadingBids$ | async">Carregar mais</button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <p>Carregando...</p>
</ng-template>
