<div class="proposal">
  <div class="proposal--title">
    <h3>Minhas propostas</h3>
    <button class="free--btn" routerLink="/proposal/create"><strong>+</strong> Criar proposta</button>
  </div>

  <div class="proposal--cards">
    <ng-container *ngFor="let proposal of proposals$ | async; trackBy: trackById">
      <app-home-card [proposal]="proposal" [routerLink]="'/proposal/' + proposal.id"></app-home-card>
    </ng-container>
  </div>

  <ng-container *ngIf="hasMoreData$ | async">
    <button class="free--btn" [disabled]="isLoading$ | async" (click)="loadMore()">Carregar mais</button>
  </ng-container>
</div>
