<div class="home-card">
  <ng-bauhaus-avatar class="home-card--bg" [name]="'proposals_' + proposal.id" [square]="true" [fillBackground]="true" inputSize="100%"></ng-bauhaus-avatar>
  <ng-beam-avatar class="home-card--profile" [name]="proposal.creator" inputSize="100%"></ng-beam-avatar>

  <img class="home-card--more" [src]="imageBaseUrl + '/info-icon.svg'" alt="Informação">
  <div class="home-card--gradient" [class.home-card--gradient__accepted]="proposal.shootAccepted"></div>

  <div class="home-card--info">
    <p>{{ proposal.name }}</p>
    <div class="home-card--info--price">
      <strong [style.color]="proposalStatus.color">
        {{ proposalStatus.text }}
      </strong>

      <ng-container *ngIf="proposal.shootAccepted">
        <p class="home-card--info--accepted">Aceito</p>
      </ng-container>
    </div>
  </div>
</div>
