<div class="home-card">

  <img class="home-card--bg" src="assets/imgs/home-card-bg.png" alt="Fundo">
  <img class="home-card--profile" src="assets/imgs/profile-icon.png" alt="Perfil">
  <img class="home-card--more" src="assets/imgs/info-icon.svg" alt="Informação">
  <div class="home-card--gradient"></div>

  <div class="home-card--info">
    <p>{{ proposal.title }}</p>
    <div class="home-card--info--price">
      <ng-container *ngIf="proposal.disputeStatus === possibleDisputeStatus.NONE">
        <img src="assets/imgs/price.png" alt="Preço">
        <b>{{ proposal.price.toFixed(2) }}</b>
      </ng-container>
      <ng-container *ngIf="proposal.disputeStatus !== possibleDisputeStatus.NONE">
        <strong [style.color]="formatDisputeStatus[proposal.disputeStatus || 0].color">
          {{ formatDisputeStatus[proposal.disputeStatus || 0].text }}
        </strong>
      </ng-container>
    </div>
  </div>
</div>
