<div class="proposal-detail">
  <h3>Visualizar proposta</h3>

  <div class="proposal-detail--container">
    <div class="proposal-detail--container--left">
      <img [src]="proposal.description | boring : 'bauhaus'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/home-card-bg.png'; this.onerror=null" alt="Imagem">
      <div class="about card">
        <h4>Sobre</h4>
        <p>{{ proposal.description }}</p>
      </div>
    </div>
    <div class="proposal-detail--container--right">
      <div class="header">
        <img [src]="proposal.description | boring : 'beam'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/profile-icon.png'; this.onerror=null" alt="Pessoa">
        <div class="header--info">
          <h4>{{ proposal.name }}</h4>
          <span>Criador: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</span>
        </div>
      </div>

      <div *ngIf="state === 'choose'" class="price card">
        <h4>Selecionar o mediador</h4>

        <input class="free--input" type="number" min="0" max="100" placeholder="Digite a porcentagem para o Freelancer" [(ngModel)]="results.freelance">

        <br />
        <br />

        <input class="free--input" type="number" min="0" max="100" placeholder="Digite a porcentagem para o Criador" [(ngModel)]="results.creator">

        <h4>Saldo resultante:</h4>

        <div class="price--result">
          <span>Total a ser distribuido: <b>{{ results.total }} matic</b></span>
          <span>Mediador: <b>{{ results.total * 0.05 }} matic (taxa de 5%)</b></span>
          <span>Criador: <b>{{ ((results.total - (results.total * 0.05)) * results.creator / 100) || 0 }} matic</b></span>
          <span>Freelancer: <b>{{ ((results.total - (results.total * 0.05)) * results.freelance / 100) || 0 }} matic</b></span>
        </div>

        <br />
        <br />

        <button class="full" (click)="state = 'waiting'">Selecionar mediador</button>
      </div>

      <div *ngIf="state === 'waiting'" class="price card">
        <h4>Distribuição Escolhida!</h4>

        <p>Agora, não é necessário fazer mais nada, basta indicar para a outra parte reinvindicar seus ganhos.</p>

        <br />

        <button class="full" (click)="state = 'choose'">Voltar</button>
      </div>

      <div class="price card">
        <h4>Freelancer / Criador</h4>

        <a href="mailto:vinyygamerlol@gmail.com">
          <button class="outline full">Entrar em contato</button>
        </a>
      </div>
    </div>
  </div>
</div>
