<div class="proposal-detail">
  <h3>Visualizar proposta</h3>

  <div class="proposal-detail--container">
    <div class="proposal-detail--container--left">
      <img [src]="proposal.description | boring : 'bauhaus'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/home-card-bg.png'; this.onerror=null" alt="Imagem">
      <div class="about card">
        <h4>Sobre</h4>
        <p>{{ proposal.description }}</p>
      </div>
    </div>
    <div class="proposal-detail--container--right">
      <div class="header">
        <img [src]="proposal.description | boring : 'beam'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/profile-icon.png'; this.onerror=null" alt="Pessoa">
        <div class="header--info">
          <h4>{{ proposal.name }}</h4>
          <span>Criador: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</span>
        </div>
      </div>

      <div class="price card">
        <h4>Valor da proposta</h4>
        <div class="price--info">
          <img src="https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/price.png" alt="Preço">
          <b>{{ proposal.amount | formatEther }}</b>
        </div>
      </div>

      <div class="price card">
        <h4>Ações</h4>
        <button class="full" [routerLink]="['/proposal']">Enviar pagamento</button>
        <button class="full" [routerLink]="['/proposal', proposal.id, 'challenge']">Entrar em disputa</button>
      </div>

      <div class="price card">
        <h4>Freelancer</h4>

        <a href="mailto:vinyygamerlol@gmail.com">
          <button class="outline full">Entrar em contato</button>
        </a>
      </div>
    </div>
  </div>
</div>
