<div class="proposal-detail">
  <h3>Visualizar proposta</h3>

  <div class="proposal-detail--container">
    <div class="proposal-detail--container--left">
      <img [src]="proposal.description | boring : 'bauhaus'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/home-card-bg.png'; this.onerror=null" alt="Imagem">
      <div class="about card">
        <h4>Sobre</h4>
        <p>{{ proposal.description }}</p>
      </div>
    </div>
    <div class="proposal-detail--container--right">
      <div class="header">
        <img [src]="proposal.description | boring : 'beam'" onerror="this.src = 'https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/profile-icon.png'; this.onerror=null" alt="Pessoa">
        <div class="header--info">
          <h4>{{ proposal.name }}</h4>
          <span>Criador: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</span>
        </div>
      </div>

      <div class="price card">
        <h4>Valor da proposta</h4>
        <div class="price--info">
          <img src="https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/price.png" alt="Preço">
          <b>{{ proposal.amount | formatEther }}</b>
        </div>
        <button *ngIf="shootProposalStep === possibleShootProposalStep.INFO" (click)="changeStep(possibleShootProposalStep.SHOOT)">Dar um lance</button>
      </div>

      <div *ngIf="shootProposalStep === possibleShootProposalStep.SHOOT" class="shoots card">
        <h4>Seu lance</h4>
        <div class="shoots--list--item cancel" (click)="changeStep(possibleShootProposalStep.INFO)">
          <strong>Retirar meu lance</strong>
        </div>
        <div class="shoots--list">
          <ng-container *ngFor="let item of [1]">
            <div class="shoots--list--item">
              <img src="https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/price.png" alt="Preço">
              <strong>{{ shootValue | number: '1.2-2' }} | 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 | {{ today | date: 'dd/MM/yyyy' }}</strong>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="shoots card">
        <h4>Lances atuais</h4>
        <div class="shoots--list">
          <ng-container *ngFor="let item of shoots">
            <div class="shoots--list--item">
              <img src="https://cloudflare-ipfs.com/ipfs/bafybeicvymlc5hzi6jvcavypsp3uzeuej4pyhp75gnk4ab4ewhnfsgqun4/price.png" alt="Preço">
              <strong>{{ item.shootValue | number: '1.2-2' }} | {{ item.address }} | {{ item.date | date: 'dd/MM/yyyy' }}</strong>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
